#taw {
    display: none !important;
}
a:hover {
    text-decoration: none !important;
}
.w7Nvcd {
    display: none !important;
}
.ab_button {
    display: none !important;
}
#logo {
    display: none !important;
}
#topabar {
    background-color: #fff !important;
}
.sfbgg {
    background-color: #efefef !important;
}
#hdtbSum {
    background-color: #efefef !important;
}
.gb_P {
    display: none !important;
}
.fbar {
    display: none !important;
}
.jsb {
    display: none !important;
}
.sbsb_g {
    display: none !important;
}
.sbsb_i {
    display: none !important;
}
.sbsb_c.gsfs {
    padding: 3px !important;
}
.g a,
._dTj,
._MLo,
._NLo,
#center_col ._Ak a._kBb {
    color: #0D47A1 !important;
}
#rhs_block {
    background: #fff !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, .3) !important;
    border-radius: 5px !important;
}
#sbfblt {
    display: none !important;
}
.g.rhsvw.kno-kp.mnr-c.g-blk {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
}
.g.knavi.obcontainer.mod {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
}
.g.mnr-c.g-blk {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
}
.g {
    display: flex !important;
    flex-direction: column !important;
    background: #fff !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3) !important;
    border-radius: 5px !important;
    padding: 20px !important;
    margin-bottom: 30px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-size: 14px !important;
    max-width: 100% !important;
}
#sfdiv {
    border-radius: 4.5px !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3) !important;
    color: #fff !important;
}
